layout {
    pane split_direction="vertical" size="50%" {
        pane name="backend" cwd="/home/harkerhand/codes/bochat/" command="zsh" {
            args "-lc" "cargo run --release"
        }
        pane split_direction="horizontal" {
            pane name="frontend" cwd="/home/harkerhand/codes/bochat/ui-vue" command="zsh" {
                args "-lc" "npm run dev"
            }
            pane name="shell" cwd="/home/harkerhand/codes/bochat"
        }
    }
}
